<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="firstword" method="post">
    <div id="header">Provide the word:</div>
    <input type="text" name="word" placeholder="Word">
    <div class="line">------------------------------</div>
    <div class="subheader">Provide the number for the word:</div>
    <input type="text" name="number" placeholder="Number">
    <div class="line">------------------------------</div>
    <input type="submit" value="Proceed">
</form>
</body>
</html>
